<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raon.devlog.mapper.article.ArticleMapper">
    <insert id="append" parameterType="com.raon.devlog.mapper.article.ArticleEntity">
        INSERT INTO Article(title, description, link, views, createTime, updateTime, categoryId, author)
        VALUES (#{title}, #{description}, #{link}, #{views}, #{createTime}, #{updateTime}, #{categoryId}, #{author})
    </insert>

    <select id="getLastInsertId">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="findById">
        SELECT id,
               title,
               author,
               description,
               link,
               views,
               categoryId,
               createTime,
               updateTime
        FROM Article
        WHERE id = #{articleId}
    </select>

    <update id="update" parameterType="com.raon.devlog.mapper.article.ArticleEntity">
        UPDATE
            Article
        SET title       = #{title},
            author      = #{author},
            description = #{description},
            link        = #{link},
            views       = #{views},
            createTime  = #{createTime},
            updateTime  = #{updateTime},
            categoryId  = #{categoryId},
            author      = #{author}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM Article
        WHERE id = #{articleId}
    </delete>
</mapper>

