<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raon.devlog.mapper.article.tag.ArticleTagMapper">
    <insert id="insertAll" parameterType="map">
        INSERT INTO ArticleTag (articleId, tagId)
        VALUES
        <foreach collection="tags" item="tag" separator=",">
            (#{articleId}, #{tag.id})
        </foreach>
    </insert>

    <delete id="deleteAllByArticleId">
        DELETE
        FROM ArticleTag
        WHERE articleId = #{articleId}
    </delete>
</mapper>

